Repository geoinstinct-web/teleport, changes with the owners that .github/CODEOWNERS names for each.
All owners: @klizhentas, @russjones, @webvictim, @benarent, @fspmarshall, @awly, @alex-kovoy

Remove console.log
  web/packages/teleport/src/Discover/Shared/SetupAccess/useUserTraits.test.tsx
  web/packages/teleport/src/services/user/user.ts
Owners: @alex-kovoy

Apply suggestions from code review
  web/packages/shared/components/FileTransfer/FileTransferStateless/FileList/FileListItem.tsx
  web/packages/teleport/src/Discover/Shared/Header.tsx
  web/packages/teleport/src/components/Authenticated/Authenticated.tsx
  web/packages/teleterm/src/ui/ClusterConnect/ClusterLogin/ClusterLogin.story.tsx
  web/packages/teleterm/src/ui/DocumentCluster/resourcesContext.tsx
  web/packages/teleterm/src/ui/Search/SearchContext.tsx
  web/packages/teleterm/src/ui/TabHost/useTabShortcuts.test.tsx
  web/packages/teleterm/src/ui/components/KeyboardArrowsNavigation/KeyboardArrowsNavigation.tsx
Owners: @alex-kovoy

Apply suggestions from code review
  web/packages/teleport/src/Discover/ConnectMyComputer/SetupConnect/SetupConnect.test.ts
Owners: @alex-kovoy

Teleport Kubernetes Operator supports Bot resource
  docs/pages/management/dynamic-resources/teleport-operator.mdx
  examples/chart/teleport-cluster/charts/teleport-operator/operator-crds/resources.teleport.dev_bots.yaml
  examples/chart/teleport-cluster/charts/teleport-operator/templates/role.yaml
  examples/chart/teleport-cluster/templates/auth/config.yaml
  integrations/operator/Makefile
  integrations/operator/apis/resources/v1/bot_types.go
  integrations/operator/apis/resources/v1/zz_generated.deepcopy.go
  integrations/operator/config/crd/bases/resources.teleport.dev_bots.yaml
  integrations/operator/controllers/reconcilers/generic.go
  integrations/operator/controllers/resources/bot_controller.go
  integrations/operator/controllers/resources/setup.go
  integrations/operator/controllers/resources/testlib/bot_controller_test.go
  integrations/operator/controllers/resources/testlib/env.go
  integrations/operator/crdgen/Makefile
  integrations/operator/crdgen/handlerequest.go
  integrations/operator/crdgen/testdata/golden/resources.teleport.dev_bots.yaml
  integrations/operator/crdgen/testdata/protofiles/teleport/machineid/v1/bot.proto
Owners: @benarent, @webvictim, @russjones, @klizhentas

Add spec and traits for update
  integrations/operator/controllers/resources/bot_controller.go
Owners: @klizhentas, @russjones

remove debug logs
  integrations/operator/controllers/reconcilers/generic.go
Owners: @klizhentas, @russjones

.github/CODEOWNERS:

# Default owners for items not matched below.
* @klizhentas @russjones

# Release Engineering.
/assets/ @webvictim @russjones
/build.assets/ @webvictim @russjones
/docker/ @webvictim @russjones
/examples/ @webvictim @russjones
/vagrant/ @webvictim @russjones

# Product.
*.md @benarent @webvictim
/docs/ @benarent @webvictim

# Backend Engineering.
/e/ @klizhentas @russjones @fspmarshall @webvictim @awly
/fixtures/ @klizhentas @russjones @fspmarshall @webvictim @awly
/integration/ @klizhentas @russjones @fspmarshall @webvictim @awly
/lib/ @klizhentas @russjones @fspmarshall @webvictim @awly
/modules/ @klizhentas @russjones @fspmarshall @webvictim @awly
/tool/ @klizhentas @russjones @fspmarshall @webvictim @awly
/vendor/ @klizhentas @russjones @fspmarshall @webvictim @awly

# Frontend Engineering.
/lib/web/ @alex-kovoy @russjones @fspmarshall @webvictim @awly
/web/ @alex-kovoy
