Repository geoinstinct-web/teleport, changes with the owners that CODEOWNERS names for each.
All owners: @klizhentas, @russjones, @webvictim, @benarent, @fspmarshall, @alex-kovoy

use httputil Rewrite instead of Director
  lib/httplib/reverseproxy/reverse_proxy.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

Example of template override
  api/proto/teleport/legacy/types/types.proto
  docs/config.json
  docs/pages/reference/terraform/data-sources/index.mdx
  docs/pages/reference/terraform/resources/index.mdx
  docs/pages/reference/terraform/resources/provision_token.mdx
  integrations/terraform/Makefile
  integrations/terraform/examples/resources/teleport_provision_token/iam.tf
  integrations/terraform/templates/resources/provision_token.md.tmpl
  integrations/terraform/tfschema/token/types_terraform.go
  integrations/terraform/tfschema/types_terraform.go
Owners: @klizhentas, @russjones, @benarent, @webvictim

Re-render proto files
  docs/pages/reference/terraform/data-sources/github_connector.mdx
  docs/pages/reference/terraform/data-sources/oidc_connector.mdx
  docs/pages/reference/terraform/data-sources/provision_token.mdx
  docs/pages/reference/terraform/data-sources/saml_connector.mdx
  docs/pages/reference/terraform/data-sources/trusted_cluster.mdx
  docs/pages/reference/terraform/resources/github_connector.mdx
  docs/pages/reference/terraform/resources/oidc_connector.mdx
  docs/pages/reference/terraform/resources/provision_token.mdx
  docs/pages/reference/terraform/resources/saml_connector.mdx
  docs/pages/reference/terraform/resources/trusted_cluster.mdx
Owners: @benarent, @webvictim

wip
  api/client/proto/authservice.pb.go
  api/client/webclient/webconfig.go
  api/proto/teleport/legacy/client/proto/authservice.proto
  entitlements.go
  integrations/operator/controllers/resources/setup.go
  integrations/operator/controllers/resources/testlib/env.go
  lib/auth/auth.go
  lib/auth/auth_with_roles.go
  lib/auth/authclient/clt.go
  lib/auth/clusterconfig/clusterconfigv1/service.go
  lib/auth/db.go
  lib/auth/desktop.go
  lib/auth/grpcserver_test.go
  lib/auth/sessions.go
  lib/auth/usage_test.go
  lib/integrations/externalauditstorage/configurator.go
  lib/kube/proxy/forwarder.go
  lib/kube/proxy/utils_testing.go
  lib/modules/modules.go
  lib/service/kubernetes.go
  lib/services/local/access_list.go
  lib/srv/discovery/access_graph.go
  lib/web/apiserver.go
  lib/web/apiserver_test.go
  tool/teleport/testenv/test_server.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @alex-kovoy

strideynet/use-unified-resources-api-when-resolving-proxy-templates
  lib/tbot/ssh_proxy.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

strideynet/tbot-only-write-on-change
  lib/tbot/service_ssh_multiplexer.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

Backport all `master` docs diffs to v16
  docs/pages/access-controls/access-graph.mdx
  docs/pages/access-controls/access-graph/aws-sync.mdx
  docs/pages/access-controls/access-request-plugins/notification-routing-rules.mdx
  docs/pages/access-controls/reference.mdx
  docs/pages/application-access/okta/sync-scim.mdx
  docs/pages/choose-an-edition/teleport-cloud/ips.mdx
  docs/pages/connect-your-client/putty-winscp.mdx
  docs/pages/faq.mdx
  docs/pages/includes/install-tsh.mdx
  docs/pages/includes/install-windows-clients.mdx
  docs/pages/reference/networking.mdx
  docs/pages/server-access/guides/jetbrains-sftp.mdx
Owners: @benarent, @webvictim

fixup! Re-render proto files
  api/proto/teleport/legacy/types/types.proto
  integrations/terraform/tfschema/types_terraform.go
Owners: @klizhentas, @russjones

JIRA plugin: ensure Summary is less than 255 chars
  integrations/access/jira/client.go
  integrations/access/jira/client_test.go
Owners: @klizhentas, @russjones

show the number of roles instead of truncating
  integrations/access/jira/client.go
  integrations/access/jira/client_test.go
Owners: @klizhentas, @russjones

Allow custom hostname for EICE instances (#42379)
  lib/srv/discovery/common/server.go
  lib/srv/discovery/common/server_test.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

Log debug error if user cleanup is a not found error from missing `getent` binaries (#42373)
  lib/srv/sess.go
  lib/srv/usermgmt.go
  lib/srv/usermgmt_linux.go
  lib/utils/host/hostusers.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

CODEOWNERS:

# Default owners for items not matched below.
* @klizhentas @russjones

# Release Engineering.
/assets/ @webvictim @russjones
/build.assets/ @webvictim @russjones
/docker/ @webvictim @russjones
/examples/ @webvictim @russjones
/vagrant/ @webvictim @russjones

# Product.
*.md @benarent @webvictim
/docs/ @benarent @webvictim

# Backend Engineering.
/e/ @klizhentas @russjones @fspmarshall @webvictim
/fixtures/ @klizhentas @russjones @fspmarshall @webvictim
/integration/ @klizhentas @russjones @fspmarshall @webvictim
/lib/ @klizhentas @russjones @fspmarshall @webvictim
/modules/ @klizhentas @russjones @fspmarshall @webvictim
/tool/ @klizhentas @russjones @fspmarshall @webvictim
/vendor/ @klizhentas @russjones @fspmarshall @webvictim

# Frontend Engineering.
/lib/web/ @alex-kovoy @russjones @fspmarshall @webvictim
/web/ @alex-kovoy
