Repository geoinstinct-web/teleport, changes with the owners that CODEOWNERS names for each.
All owners: @klizhentas, @russjones, @webvictim, @benarent, @fspmarshall, @alex-kovoy

CODEOWNERS:

# Default owners for items not matched below.
* @klizhentas @russjones

# Release Engineering.
/assets/ @webvictim @russjones
/build.assets/ @webvictim @russjones
/docker/ @webvictim @russjones
/examples/ @webvictim @russjones
/vagrant/ @webvictim @russjones

# Product.
*.md @benarent @webvictim
/docs/ @benarent @webvictim

# Backend Engineering.
/e/ @klizhentas @russjones @fspmarshall @webvictim
/fixtures/ @klizhentas @russjones @fspmarshall @webvictim
/integration/ @klizhentas @russjones @fspmarshall @webvictim
/lib/ @klizhentas @russjones @fspmarshall @webvictim
/modules/ @klizhentas @russjones @fspmarshall @webvictim
/tool/ @klizhentas @russjones @fspmarshall @webvictim
/vendor/ @klizhentas @russjones @fspmarshall @webvictim

# Frontend Engineering.
/lib/web/ @alex-kovoy @russjones @fspmarshall @webvictim
/web/ @alex-kovoy

Add capitalization rules
  .github/vale-styles/messaging/capitalization.yml
Owners: @klizhentas, @russjones

Removes now unused tdp.Error message
  lib/srv/desktop/tdp/proto.go
  lib/srv/desktop/tdp/proto_test.go
  lib/srv/desktop/windows_server.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

updates testplan with resize tests
  .github/ISSUE_TEMPLATE/testplan.md
Owners: @benarent, @webvictim

Revert "Removes now unused tdp.Error message"
  lib/srv/desktop/tdp/proto.go
  lib/srv/desktop/tdp/proto_test.go
  lib/srv/desktop/windows_server.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

Add note so that Isaiah doesn't keep trying to delete tdp.Error
  lib/srv/desktop/tdp/proto.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

check access list owners of nested lists
  api/types/accesslist/convert/v1/accesslist.go
  integrations/operator/config/crd/bases/resources.teleport.dev_accesslists.yaml
  lib/auth/userloginstate/generator.go
  lib/modules/modules.go
  lib/services/access_list.go
  lib/services/access_list_test.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

Allow custom hostname for EICE instances
  lib/srv/discovery/common/server.go
  lib/srv/discovery/common/server_test.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

fix test
  tool/tctl/common/tctl_test.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

Add further fixes to access requests
  .github/ISSUE_TEMPLATE/webtestplan.md
Owners: @benarent, @webvictim

Update docs/pages/choose-an-edition/migrate-to-cloud.mdx
  docs/pages/choose-an-edition/migrate-to-cloud.mdx
Owners: @benarent, @webvictim

Update docs/pages/choose-an-edition/migrate-to-cloud.mdx
  docs/pages/choose-an-edition/migrate-to-cloud.mdx
Owners: @benarent, @webvictim

Remove item related to headless auth with expired cert
  .github/ISSUE_TEMPLATE/webtestplan.md
Owners: @benarent, @webvictim

Update docs/pages/choose-an-edition/migrate-to-cloud.mdx
  docs/pages/choose-an-edition/migrate-to-cloud.mdx
Owners: @benarent, @webvictim

Update docs/pages/choose-an-edition/migrate-to-cloud.mdx
  docs/pages/choose-an-edition/migrate-to-cloud.mdx
Owners: @benarent, @webvictim

Update docs/pages/choose-an-edition/migrate-to-cloud.mdx
  docs/pages/choose-an-edition/migrate-to-cloud.mdx
Owners: @benarent, @webvictim

fix docs
  docs/pages/choose-an-edition/migrate-to-cloud.mdx
Owners: @benarent, @webvictim

fix docs
  docs/pages/choose-an-edition/migrate-to-cloud.mdx
Owners: @benarent, @webvictim

Fix GCP metadata errors crashing Teleport
  lib/cloud/gcp/vm_test.go
  lib/cloud/imds/gcp/imds.go
  lib/cloud/imds/gcp/imds_test.go
  lib/service/service.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

Adds test for recordings with tdp.Error
  .github/ISSUE_TEMPLATE/testplan.md
Owners: @benarent, @webvictim

Update error message
  lib/cloud/imds/gcp/imds.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

Fix comment
  lib/cloud/imds/gcp/imds.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

wip
  web/packages/design/src/Checkbox/Checkbox.tsx
  web/packages/design/src/Checkbox/index.ts
  web/packages/design/src/theme/typography.js
  web/packages/shared/components/AccessRequests/NewRequest/RequestCheckout/RequestCheckout.tsx
  web/packages/shared/components/FieldCheckbox/FieldCheckbox.story.tsx
  web/packages/shared/components/FieldCheckbox/FieldCheckbox.test.tsx
  web/packages/shared/components/FieldCheckbox/FieldCheckbox.tsx
  web/packages/shared/components/FieldCheckbox/index.ts
  web/packages/teleport/src/Discover/Shared/SecurityGroupPicker/SecurityGroupPicker.tsx
  web/packages/teleport/src/Integrations/EditAwsOidcIntegrationDialog.tsx
  web/packages/teleport/src/Login/Login.tsx
Owners: @alex-kovoy

Surface cloud entitlements
  api/proto/teleport/legacy/client/proto/authservice.proto
  api/types/license.go
  integration/appaccess/appaccess_test.go
  integration/db/db_integration_test.go
  integration/hsm/hsm_test.go
  integration/kube_integration_test.go
  integration/proxy/proxy_tunnel_strategy_test.go
  integrations/operator/controllers/resources/testlib/env.go
  lib/auth/access_request_test.go
  lib/auth/auth.go
  lib/auth/auth_with_roles.go
  lib/auth/clusterconfig/clusterconfigv1/service_test.go
  lib/auth/db.go
  lib/auth/desktop.go
  lib/auth/desktop_test.go
  lib/auth/grpcserver_test.go
  lib/auth/kube_test.go
  lib/auth/sessions.go
  lib/auth/usage_test.go
  lib/auth/userloginstate/generator_test.go
  lib/integrations/externalauditstorage/configurator.go
  lib/integrations/externalauditstorage/configurator_test.go
  lib/kube/proxy/moderated_sessions_test.go
  lib/modules/modules.go
  lib/service/service_test.go
  lib/services/local/access_list.go
  lib/services/local/access_list_test.go
  lib/srv/db/access_test.go
  lib/web/apiserver_test.go
  tool/tctl/common/admin_action_test.go
  tool/tctl/common/edit_command_test.go
  tool/tctl/common/resource_command_test.go
  tool/teleport/testenv/test_server.go
  tool/tsh/common/access_request_test.go
  tool/tsh/common/db_test.go
  tool/tsh/common/kube_test.go
  tool/tsh/common/tsh_test.go
  web/packages/teleport/src/services/storageService/types.ts
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @alex-kovoy

Add tests + comments
  lib/cloud/imds/gcp/imds.go
  lib/cloud/imds/gcp/imds_test.go
  lib/service/service.go
  lib/service/service_test.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

wip
  web/packages/teleport/src/JoinTokens/JoinTokens.tsx
  web/packages/teleport/src/Navigation/NavigationItem.tsx
  web/packages/teleport/src/features.tsx
  web/packages/teleport/src/services/api/api.ts
  web/packages/teleport/src/services/joinToken/joinToken.ts
  web/packages/teleport/src/services/joinToken/makeJoinToken.ts
  web/packages/teleport/src/services/joinToken/types.ts
Owners: @alex-kovoy

Prevent panic in mis-using the SourceKey in slog
  lib/utils/log/slog_handler.go
  lib/utils/log/slog_handler_test.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

check other fields
  lib/utils/log/slog_handler.go
  lib/utils/log/slog_handler_test.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

remove extra empty comment line
  lib/utils/log/slog_handler_test.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

Move MongoDB IAM auth to aws-sdk-go-v2
  lib/cloud/aws.go
  lib/cloud/clients.go
  lib/srv/db/common/auth.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

AWS OIDC: Remove App Server that uses the integration credentials
  lib/web/apiserver.go
  lib/web/integrations.go
  lib/web/integrations_awsoidc.go
  lib/web/integrations_awsoidc_test.go
Owners: @alex-kovoy, @russjones, @fspmarshall, @webvictim

change url placeholders
  lib/web/apiserver.go
  lib/web/integrations_awsoidc_test.go
Owners: @alex-kovoy, @russjones, @fspmarshall, @webvictim

Remove user locking from headless auth, just like SSO login.
  lib/auth/auth_login_test.go
  lib/auth/methods.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

Consolidate updating guides
  docs/config.json
  docs/pages/upgrading.mdx
  docs/pages/upgrading/automatic-agent-updates.mdx
  docs/pages/upgrading/cloud-kubernetes.mdx
  docs/pages/upgrading/cloud-linux.mdx
  docs/pages/upgrading/reference.mdx
  docs/pages/upgrading/self-hosted-automatic-agent-updates.mdx
  docs/pages/upgrading/self-hosted-kubernetes.mdx
  docs/pages/upgrading/self-hosted-linux.mdx
Owners: @benarent, @webvictim

Fix linter errors
  docs/pages/architecture/agent-update-management.mdx
  docs/pages/choose-an-edition/teleport-cloud/faq.mdx
  docs/pages/includes/server-access/custom-installer.mdx
  docs/pages/upgrading/automatic-agent-updates.mdx
  docs/pages/upgrading/reference.mdx
Owners: @benarent, @webvictim

Add check for the Enterprise teleport-kube-agent
  docs/pages/upgrading/automatic-agent-updates.mdx
Owners: @benarent, @webvictim

Add an intro paragraph with a recommendation
  docs/pages/upgrading/automatic-agent-updates.mdx
Owners: @benarent, @webvictim

Respond to bernardjkim feedback
  docs/pages/upgrading/automatic-agent-updates.mdx
  docs/pages/upgrading/reference.mdx
Owners: @benarent, @webvictim

Respond to r0mant feedback
  docs/pages/upgrading.mdx
  docs/pages/upgrading/automatic-agent-updates.mdx
  docs/pages/upgrading/reference.mdx
Owners: @benarent, @webvictim

Add `helm repo update` step
  docs/pages/upgrading/automatic-agent-updates.mdx
Owners: @benarent, @webvictim

Respond to hugoShaka feedback
  docs/pages/upgrading/automatic-agent-updates.mdx
Owners: @benarent, @webvictim
