Repository geoinstinct-web/teleport, changes with the owners that CODEOWNERS names for each.
All owners: @klizhentas, @russjones, @webvictim, @benarent, @fspmarshall, @alex-kovoy

CODEOWNERS:

# Default owners for items not matched below.
* @klizhentas @russjones

# Release Engineering.
/assets/ @webvictim @russjones
/build.assets/ @webvictim @russjones
/docker/ @webvictim @russjones
/examples/ @webvictim @russjones
/vagrant/ @webvictim @russjones

# Product.
*.md @benarent @webvictim
/docs/ @benarent @webvictim

# Backend Engineering.
/e/ @klizhentas @russjones @fspmarshall @webvictim
/fixtures/ @klizhentas @russjones @fspmarshall @webvictim
/integration/ @klizhentas @russjones @fspmarshall @webvictim
/lib/ @klizhentas @russjones @fspmarshall @webvictim
/modules/ @klizhentas @russjones @fspmarshall @webvictim
/tool/ @klizhentas @russjones @fspmarshall @webvictim
/vendor/ @klizhentas @russjones @fspmarshall @webvictim

# Frontend Engineering.
/lib/web/ @alex-kovoy @russjones @fspmarshall @webvictim
/web/ @alex-kovoy

Remove console.log
  web/packages/teleport/src/Discover/Shared/SetupAccess/useUserTraits.test.tsx
  web/packages/teleport/src/services/user/user.ts
Owners: @alex-kovoy

Apply suggestions from code review
  web/packages/shared/components/FileTransfer/FileTransferStateless/FileList/FileListItem.tsx
  web/packages/teleport/src/Discover/Shared/Header.tsx
  web/packages/teleport/src/components/Authenticated/Authenticated.tsx
  web/packages/teleterm/src/ui/ClusterConnect/ClusterLogin/ClusterLogin.story.tsx
  web/packages/teleterm/src/ui/DocumentCluster/resourcesContext.tsx
  web/packages/teleterm/src/ui/Search/SearchContext.tsx
  web/packages/teleterm/src/ui/TabHost/useTabShortcuts.test.tsx
  web/packages/teleterm/src/ui/components/KeyboardArrowsNavigation/KeyboardArrowsNavigation.tsx
Owners: @alex-kovoy

Apply suggestions from code review
  web/packages/teleport/src/Discover/ConnectMyComputer/SetupConnect/SetupConnect.test.ts
Owners: @alex-kovoy

Teleport Kubernetes Operator supports Bot resource
  docs/pages/management/dynamic-resources/teleport-operator.mdx
  examples/chart/teleport-cluster/charts/teleport-operator/operator-crds/resources.teleport.dev_bots.yaml
  examples/chart/teleport-cluster/charts/teleport-operator/templates/role.yaml
  examples/chart/teleport-cluster/templates/auth/config.yaml
  integrations/operator/Makefile
  integrations/operator/apis/resources/v1/bot_types.go
  integrations/operator/apis/resources/v1/zz_generated.deepcopy.go
  integrations/operator/config/crd/bases/resources.teleport.dev_bots.yaml
  integrations/operator/controllers/reconcilers/generic.go
  integrations/operator/controllers/resources/bot_controller.go
  integrations/operator/controllers/resources/setup.go
  integrations/operator/controllers/resources/testlib/bot_controller_test.go
  integrations/operator/controllers/resources/testlib/env.go
  integrations/operator/crdgen/Makefile
  integrations/operator/crdgen/handlerequest.go
  integrations/operator/crdgen/testdata/golden/resources.teleport.dev_bots.yaml
  integrations/operator/crdgen/testdata/protofiles/teleport/machineid/v1/bot.proto
Owners: @benarent, @webvictim, @russjones, @klizhentas

Add spec and traits for update
  integrations/operator/controllers/resources/bot_controller.go
Owners: @klizhentas, @russjones

remove debug logs
  integrations/operator/controllers/reconcilers/generic.go
Owners: @klizhentas, @russjones

Start moving version requirements to the Prereqs
  docs/pages/access-controls/access-requests/resource-requests.mdx
  docs/pages/database-access/auto-user-provisioning/mongodb.mdx
Owners: @benarent, @webvictim

Add tctl notifications commands
  api/client/client.go
  api/gen/proto/go/teleport/notifications/v1/notifications_service.pb.go
  api/gen/proto/go/teleport/notifications/v1/notifications_service_grpc.pb.go
  api/proto/teleport/notifications/v1/notifications_service.proto
  api/types/constants.go
  lib/auth/authclient/clt.go
  lib/auth/notifications/notificationsv1/service.go
  lib/services/presets.go
  lib/web/ui/labels.go
  lib/web/ui/notification.go
  tool/tctl/common/cmds.go
  tool/tctl/common/helpers_test.go
  tool/tctl/common/notification_command.go
  tool/tctl/common/notification_command_test.go
  web/packages/teleport/src/Notifications/Notification.tsx
  web/packages/teleport/src/Notifications/notificationContentFactory.tsx
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @alex-kovoy

wip
  api/types/constants.go
  lib/install/install.go
  lib/install/install_test.go
  lib/install/package_manager_apt.go
  lib/install/package_manager_yum.go
  lib/install/package_manager_zypper.go
  lib/linux/os_release.go
  lib/linux/os_release_test.go
  tool/teleport/common/install.go
  tool/teleport/common/teleport.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

Edit the Enterprise migration guide (#41285)
  docs/config.json
  docs/pages/choose-an-edition/introduction.mdx
  docs/pages/choose-an-edition/migrate-to-cloud.mdx
  docs/pages/migrating.mdx
Owners: @benarent, @webvictim

prevent session id reuse
  api/observability/tracing/ssh/client.go
  api/observability/tracing/ssh/client_test.go
  constants.go
  integration/integration_test.go
  lib/auth/auth_with_roles_test.go
  lib/client/api.go
  lib/client/client.go
  lib/client/client_test.go
  lib/client/session.go
  lib/services/local/sessiontracker.go
  lib/session/session.go
  lib/srv/ctx.go
  lib/srv/ctx_test.go
  lib/srv/forward/sshserver.go
  lib/srv/mock.go
  lib/srv/regular/sshserver.go
  lib/srv/sess.go
  lib/srv/sess_test.go
  lib/web/sessions.go
  lib/web/terminal.go
  lib/web/terminal/terminal.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim, @alex-kovoy

Include all Teleport CAs in the rotation guide
  docs/config.json
  docs/pages/management/operations/ca-rotation.mdx
  docs/pages/management/operations/db-ca-rotation.mdx
Owners: @benarent, @webvictim

Fix typos in access requests
  .github/ISSUE_TEMPLATE/webtestplan.md
Owners: @benarent, @webvictim

refactor structure for RFD changes
  api/gen/proto/go/teleport/accesslist/v1/accesslist.pb.go
  api/proto/teleport/accesslist/v1/accesslist.proto
  api/types/accesslist/accesslist.go
  api/types/accesslist/convert/v1/accesslist.go
  gen/proto/ts/teleport/accesslist/v1/accesslist_pb.ts
  lib/auth/userloginstate/generator_test.go
  lib/services/access_list.go
  tool/tctl/common/acl_command.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

add a recursive test
  lib/auth/userloginstate/generator_test.go
  lib/services/access_list.go
  lib/services/access_list_test.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

use dynamic access lists structure from RFD
  api/proto/teleport/accesslist/v1/accesslist.proto
Owners: @klizhentas, @russjones

add references to member and owner access lists
  api/proto/teleport/accesslist/v1/accesslist.proto
  api/types/accesslist/accesslist.go
  api/types/accesslist/convert/v1/accesslist.go
Owners: @klizhentas, @russjones

recursively check for accesslist membership
  lib/auth/userloginstate/generator.go
  lib/modules/modules.go
  lib/services/access_list.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

add a more general access list recursor
  lib/services/access_list.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

make grpc
  api/gen/proto/go/teleport/accesslist/v1/accesslist.pb.go
  gen/proto/ts/teleport/accesslist/v1/accesslist_pb.ts
Owners: @klizhentas, @russjones

allow adding/removing/listing included access lists in acl commands
  tool/tctl/common/acl_command.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

update comments
  api/proto/teleport/accesslist/v1/accesslist.proto
Owners: @klizhentas, @russjones

make tctl config loading smarter
  docs/pages/reference/cli/tctl.mdx
  tool/tctl/common/tctl.go
  tool/tctl/common/tctl_test.go
  tool/tsh/common/tctl_test.go
  tool/tsh/common/tsh_helper_test.go
Owners: @benarent, @webvictim, @klizhentas, @russjones, @fspmarshall

Update tool/tctl/common/tctl.go
  tool/tctl/common/tctl.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

Update tool/tctl/common/tctl.go
  tool/tctl/common/tctl.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

Update tool/tctl/common/tctl.go
  tool/tctl/common/tctl.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

feat!: Add App and Desktop enforcement to require-trusted-device
  lib/services/presets.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

resolve comments, add rfd number
  rfd/0170-nested-accesslists.md
Owners: @benarent, @webvictim

init
  api/gen/proto/go/teleport/accessgraph/v1/secrets.pb.go
  api/gen/proto/go/teleport/accessgraph/v1/secrets_service.pb.go
  api/gen/proto/go/teleport/accessgraph/v1/secrets_service_grpc.pb.go
  api/proto/teleport/access_graph/v1/secrets.proto
  api/proto/teleport/access_graph/v1/secrets_service.proto
  api/types/accessgraph/authorized_key.go
  api/types/constants.go
  buf.yaml
  gen/proto/ts/google/protobuf/descriptor_pb.ts
  lib/modules/modules.go
  lib/services/access_graph.go
  lib/services/local/access_graph.go
  lib/services/local/access_graph_test.go
  lib/services/local/generic/generic_wrapper.go
Owners: @klizhentas, @russjones, @fspmarshall, @webvictim

tag policy revisions - draft
  docs/config.json
Owners: @benarent, @webvictim

tag policy revisions - draft
  docs/pages/access-controls/access-graph/aws-sync.mdx
Owners: @benarent, @webvictim

tag policy revisions - draft
  docs/pages/access-controls/access-graph/aws-sync.mdx
Owners: @benarent, @webvictim

Update docs/pages/access-controls/access-graph/aws-sync.mdx
  docs/pages/access-controls/access-graph/aws-sync.mdx
Owners: @benarent, @webvictim

tag policy revisions - draft
  docs/pages/access-controls/access-graph.mdx
Owners: @benarent, @webvictim

tag policy revisions - draft
  docs/pages/access-controls/access-graph.mdx
Owners: @benarent, @webvictim

tag policy revisions - draft
  docs/pages/access-controls/access-graph/aws-sync.mdx
Owners: @benarent, @webvictim

Update docs/pages/access-controls/access-graph/aws-sync.mdx
  docs/pages/access-controls/access-graph/aws-sync.mdx
Owners: @benarent, @webvictim

Update docs/pages/access-controls/access-graph.mdx
  docs/pages/access-controls/access-graph.mdx
Owners: @benarent, @webvictim

tag policy revisions - draft
  docs/pages/access-controls/access-graph.mdx
Owners: @benarent, @webvictim

Update docs/pages/access-controls/access-graph/aws-sync.mdx
  docs/pages/access-controls/access-graph/aws-sync.mdx
Owners: @benarent, @webvictim
